*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    position: relative
}
li{
    list-style: none;
    transition: all .3s;
}
a{
    text-decoration: none;
    color: #b0adb0;
}
h2{
    color: #f16101;
}
.tob-menu{
    width: 100%;
    height: 150px;
    background-color: #046588;
    z-index: 1;
    position: relative;
}
.continer{
    width: 1350px;
    margin: 0 auto;
    position: relative;
}
.empty{
    width: 100%;
    height: 260px;
    mask-repeat: no-repeat;
    mask-size: unset;
    mask-position: center;
    mask-image: url('Picture/Union.svg');
    background-color: #e9e3df;
    position: absolute;
    top: -124px;
    right: 0;;
}
.sub-menu{
    display: flex;
    align-items: center;
    mask-repeat: no-repeat;
    mask-size: unset;
    mask-position: center;
    mask-image: url('Picture/Union.svg');
    background-color: white;
    position: absolute;
    top: -125px;
    right: 0;
    z-index: 1;
    justify-content: space-around;
    width: 100%;
    height: 260px;
    padding: 20px;
}
#sectionMenu{
    width: 33%;
}
.sub-menu nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sub-menu nav ul li a:hover{
    color: #f16101;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 50px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: end;
}
.login img{
    width: 25px;
}
.banner{
    width: 100%;
    display: flex;
    align-items: center;
}
.banner-content,.banner-image{
    width: 50%;
    margin: 100px auto;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.banner-content h1{
  color: #f16101;
  font-size: 70px;
   
}
.banner-content span{
  color: #b0adb0;
  font-size: 19px;
   
}
.banner-content a{
    width: 150px;
    background-color: #046588;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    justify-content: space-between;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    margin: 35px 0;
    transition: all .3s;
}
.banner-content a:hover{
    color: #046588;
    border: 1px solid #046588;
    background-color: transparent;
}
.banner-content img{
    width: 25px;
}
.about-Us{
    width: 90%;
    display: flex;
    align-items: center;
}
.about-us-picture,.about-us-content{
    width: 50%;
}
.about-us-content p{
    color: #b0adb0;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
    margin-top: 20px;
}
.gallery{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
}
.gallery-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
}
.gallery img{
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}
.gallery a{
     width: 80px;
    position: absolute;
    aspect-ratio: 1/1;
    background-color: #f16101;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    top: 50%;
}
.gallery a::before{
    content: "";
    width: 76px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 8px solid white;
    position: absolute;
    top:-5px ;
    right: -6px;
}
.gallery a img{
    width: 60px;
}
.quession{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 52px auto;
}
.question-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 52px auto;
}
details{
    border:1px solid #046588;
    color: #046588;
    padding: 20px;
    width: 600px;
    border-radius: 25px;
    position: relative;
    transition: all .3s;
}
details::before{
    content: "+";
    position: absolute;
    color: #046588;
    top: 20px;
    left: 20px;
    font-weight: bolder;
    font-size: 20px;
    font-weight: bolder;
}
details[open]:first-of-type summary{
 content: "-";
}
summary{
    list-style: none;
    font-weight: bolder;
    font-size: 18px;
}
.quession p{
   font-size: 18px;
   line-height: 1.5;
   text-align: justify;
}
.icon1{
    position: absolute;
    top: 60%;
    right: 40px;
    transform: rotate(25deg);
}
.icon2{
    position: absolute;
    top: 30%;
    left: 50px;
     transform: rotate(-25deg);
}
.icon1 img, .icon2 img{
    width: 125px;
}
.contact{
    width: 90%;
    margin: 120px auto 150px;
    background-color: #046588;
    height: 300px;
    border-radius: 15px;
    position: relative;
    padding: 20px;
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    position: absolute;
    width: 450px;
    height: 400px;
    border: 1px solid #b0adb0;
    align-items: center;
    padding: 20px 10px;
    border-radius: 15px;
    left: 0;
    top: -45px;
}
.contact form input{
    width: 95%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b0adb0;
    padding: 0 16px;
}
.contact form textarea{
      width: 95%;
    height: 200px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #b0adb0;
    padding: 16px;
    resize: none;
}
.contact form button{
    width: 95%;
    background-color: #f16101;
    outline: none;
    color: white;
    border: none;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact form button img{
    width: 25px;
    position: absolute;
    left: 20px;
}
.contact-content{
    width: 60%;
}
.contact-content-bg{
    width: 100%;
    display: flex;
    justify-content: end;
    opacity: .5;
}
.contact-content-bg img{
    width: 100px;
}
.contact h2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact p{
    color: white;
    font-size: 20px;
    line-height: 1.5;
}
footer{
    width: 100%;
    background-color: black;
    height: 450px;
    border-radius: 15px;
    margin: 50px auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 32px;
   
}
.about,.link,.contacts{
    width: 30%;
}
.about .about-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.about .about-title img{
    width: 50px;
}
.about p{
    text-align: justify;
    line-height: 2;
    margin: 20px 0;
}
.about h2{
    color: white;
    font-size: 28px;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.link .link-title,.contacts .contacts-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a{
    color: white;
}
.link a:hover{
    color: #f16101;
}
.link ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin: 52px 0 0 0;
}
.valids{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
}
.contacts-title{
    margin: 32px 0 0 0;
}
.contacts span{
    display: flex;
    align-items: center;
    gap: 16px;
}
.contacts span img{
    width: 25px;
}
.valids img{
    width: 50px;
}
.up{
    position: absolute;
    background-color: #046588;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border: 6px solid white;
    bottom: -30px;
}
.up img{
    width: 25px;
}
/*******/
.login{
    width: 100%;
    height: 739px;
    background-image: url('picture/bg2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login::before{
    content: "";
    width: 100%;
    height: 739px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    opacity: .1;
}
.login form{
    width: 25%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: rgb(255, 255, 255,.1);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 1px solid #e9e3df;
    z-index: 1;
}
.login form h2{
    font-size: 32px;
    font-weight: bolder;
    margin: 16px auto;
    color: white;
}
.login form input{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #e9e3df;
    padding: 0 16px;
    color: white;
    outline: none;
    font-size: 16px;
}
.login form button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #f16101;
    color: white;
    border: none;
    outline: none;
    margin: 24px auto;
    transition: all .3s;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}
.login form button:hover{
    background-color: transparent;
    border: 1px solid #f16101;
    color: #f16101;
}
 .panel{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px auto;
     }
     .sideBar{
        width: 20%;
        background-color: #046588;
        height: 700px;
        position: sticky;
        top: 16px;
        right: 16px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
     
     }
     .sideBar img{
        width: 150px;
        aspect-ratio: 1/1;
        border:2px double #f5ece0;
        border-radius: 50%;
        background-color: #fff;
        margin: 32px auto;
     }
     .sideBar ul li a{
        width: 90%;
        height: 40px;
        border-radius: 5px;
        display: flex;
        margin: 8px auto;
        color: #f5ece0;
        align-items: center;
        padding: 0 16px;
     }
     .sideBar ul li a:hover{
        background-color: #f5ece04c;
     }
     .sideBar ul li a span{
        display: flex;
        gap: 16px;
     }
     .dashbords{
        width: 78%;
        height: 700px;
        margin: 0 auto;
        overflow-y: auto;
        visibility: visible;
  
     }
     .dashbords h2{
        margin: 20px 20px 0 20px;
     }
     .dashbords::-webkit-scrollbar{
        color: #336d82;
     }
 .titleinpanel{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .orderCustomer{
    width: 95%;
 }
     .orderCustomer table th{
        background-color: #5f99ae;
        text-align: center;
        padding: 12px;
        color: #f5ece0;
        border-left:3px solid #f5ece0;
     }
     .lastBloge table td,.lastGallery table td,.orderCustomer table td{
        text-align: center;
        padding: 8px;
        color: #888;
     }
     .orderCustomer table{
        width: 95%;
        margin: 0 auto;
     }
     .profile{
        width: 100%;
        margin: 56px auto;
     }
     .profile form{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .profile input{
        width:60%;
        height: 40px;
        border-radius: 5px;
        padding: 0 16px;
        background-color: #f3f3f3;
        border: none;
        outline: none;
     }
     .profile input[type="file"]{
       display: none;
     }
     .profile #uplaods{
          background: #f16101;
          color: #f5ece0;
          padding: 8px 32px;
          border-radius: 5px;
          margin: 16px auto;
          cursor: pointer;
          transition: .3s;
     }
     .profile #uplaods:hover{
          background:transparent;
          color: #f16101;
          border: 1px solid #f16101;
     }
     .profile button{
        width: 150px;
        height: 40px;
        background: transparent;
        border: 1px solid #336d82;
        border-radius: 5px;
        color: #336d82;
        margin: 16px auto;
     }
     .profile button:hover{
        background-color: #336d82;
        color: #f5ece0
     }
     .profile a{
        width: 100px;
        height: 40px;
        background-color: #f16101;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
     }
     .profile textarea{
        width:60%;
        height: 250px;
        border-radius: 5px;
        padding:16px;
        background-color: #f3f3f3;
        border: none;
        outline: none;
        resize: none;
     }
     .lastBloge.total,.lastGallery.total{
        width: 95%;
     }
     .addtoDoList{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 56px auto;
     }
     .addtoDoList form{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 16px;
        flex-wrap: wrap;
     }
     .addtoDoList input{
        width:60%;
        height: 40px;
        border-radius: 5px;
        padding: 0 16px;
        background-color: #f3f3f3;
        border: none;
        outline: none;
     }
     .addtoDoList button{
        width: 150px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #336d82;
        color: #336d82;
        transition: .3s;
        background-color: transparent;
        font-family: 'sans';
     }
     .addtoDoList button:hover{
        background-color: #336d82;
        color: #f5ece0;
     }
     .dispalyListToDo{
        width: 100%;
        margin: 24px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .dispalyListToDo ul{
        width: 100%;
     }
     .dispalyListToDo ul li{
        border: 1px solid #d3d3d3;
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        margin: 4px auto;
        border-radius: 5px;
     }
     .dispalyListToDo ul li:hover{
        background-color: #f5ece038;
     }
     #titleTodo{
        font-size: 23px;
     }
     #hide{
        visibility: hidden;
     }
     .dispalyListToDo span{
        font-size: 20px;
        cursor: pointer;
     }
     #xMarkspanel{
        z-index: 10;
        position: absolute;
        top: 16px;
        left:16px;
        color: #f5ece0;
        font-size: 20px;
        visibility: hidden;
     }